@{ 
    string Prefix = "Estados"; 
    string UrlClick = Url.Action("Edit", "Estados"); 
    string UrlNew = Url.Action("New", "Estados"); 

    var DataGridConfig = new DataGridConfiguration<Estados>(Prefix) 
        .OnClick(UrlClick, new { Id = "Id" }) 
        .New(UrlNew,DApp.ActionViewSecurity(Context,UrlNew)) 
        .Exports(true,true) 
        .ToolbarTop(DApp.DefaultLanguage.GetResource("Estados"), "mainPanel"); 
} 

<div class="box-body table-responsive no-padding"> 
@(Html.DControls().DataGridSimple<Estados>(DataGridConfig) 
    .ID("EstadosDataGrid") 
    .DataSource(d => d.Mvc().LoadMethod("POST").Controller("Estados").LoadAction("Get").Key("Id")) 
    .Columns(columns => 
    { 
        columns.AddFor(m => m.Nombre); 
        columns.AddFor(m => m.Tipo); 
    }) 
) 
</div> 
