obj
bin
.vs
*.log
/Mvc.WebApps/.vscode
/Mvc.WebApps/.vscode
ArchivosImagenesDiagnosticas
/Mvc.WebApps/WebApp/Properties/PublishProfiles
PublishProfiles
publish
/WebApp/Properties/PublishProfiles
/WebApp/*.user*
