@*  Remplazar FATHERModel por el modelo del padre al que pertenece   *@ 
@* 
@model FATHERModel 
@{ 
    string Prefix = "MedicamentosConcentraciones"; 
    string UrlOnClick = Url.Action("EditDetail", "MedicamentosConcentraciones"); 
    string UrlNew = Url.Action("NewDetail", "MedicamentosConcentraciones", new { IdFather = Model.Entity.Id }); 

    var DataGridDetailConfig = new DataGridConfiguration<MedicamentosConcentraciones>(Prefix) 
        .OnClick(UrlOnClick, new { Id = "Id" }, Prefix + "MainPanelForm") 
        .New(UrlNew,Model.Entity.IsNew,Prefix + "MainPanelForm") 
        .Exports(true,true); 
} 
*@ 


@* ------------ Descomentar el siguiente codigo si es una edicion en maestro --------------- *@
@* 

<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
        @(Html.DControls().DataGridSimple<MedicamentosConcentraciones>(DataGridDetailConfig) 
            .ID("MedicamentosConcentracionesDetalleDataGrid") 
            .DataSource(d => d.Mvc().LoadMethod("POST").Controller("MedicamentosConcentraciones").LoadAction("Get").Key("Id")) 
            .DataSourceOptions(x=>x.Filter("['IdFather','=','"+@Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
            .Columns(columns => 
            { 
             columns.AddFor(m => m.Nombre); 
            }) 
        ) 
        </div> 
        <div id="MedicamentosConcentracionesMainPanelForm"></div> 
    </div> 
</div> 
*@ 


@* ------------ Descomentar el siguiente codigo si es una edicion en grilla y COMENTAR LOS METODOS OnClick y New del DataGridDetailConfig --------------- *@
@* 
<script> 
     function @(Prefix)OnInitNewRowDetalleDataGrid(model) { 
         model = GetAuditoryData(model); 
         model.data.IdFather = "@Model.Entity.Id"; // Cambiar IdFather por el campo foraneo hacia el padre 
     } 
</script> 
<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
             @(Html.DControls().DataGridSimple<MedicamentosConcentraciones>(DataGridDetailConfig) 
                 .ID("MedicamentosConcentracionesDetalleDataGrid") 
                 .DataSource(d => d.Mvc().LoadMethod("POST").Controller("MedicamentosConcentraciones").LoadAction("Get").Key("Id") 
                     .InsertAction("AddInGrid").InsertMethod("POST").UpdateAction("ModifyInGrid").UpdateMethod("POST").DeleteAction("DeleteInGrid").DeleteMethod("POST") 
                 ) 
                 .DataSourceOptions(x=>x.Filter("['IdFather','=','"+@Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
                 .Editing(editing => editing.Mode(GridEditMode.Batch).AllowAdding(!Model.Entity.IsNew).AllowUpdating(true).AllowDeleting(true)) 
                 .OnInitNewRow(Prefix + "OnInitNewRowDetalleDataGrid") 
                 .OnRowInserted("OnRowInsertedDetalleDataGrid").OnRowUpdated("OnRowUpdatedDetalleDataGrid").OnRowRemoved("OnRowRemovedDetalleDataGrid").OnDataErrorOccurred("OnDataErrorOccurredDetalleDataGrid") 
                 .Columns(columns => 
                 { 
                     columns.AddFor(m => m.Nombre) 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("MedicamentosConcentraciones.Nombre"))) 
                         .ValidationRules(rules => rules.AddStringLength().Min(0).Max(250).Message(DApp.GetStringLengthResource("MedicamentosConcentraciones.Nombre", 250))) 
                     ; 
             }) 
         ) 
        </div> 
    </div> 
</div> 
*@ 
