@{ 
    string Prefix = "TiposAtencion"; 
    string UrlClick = Url.Action("Edit", "TiposAtencion"); 
    string UrlNew = Url.Action("New", "TiposAtencion"); 

    var DataGridConfig = new DataGridConfiguration<TiposAtencion>(Prefix) 
        .OnClick(UrlClick, new { Id = "Id" }) 
        .New(UrlNew,DApp.ActionViewSecurity(Context,UrlNew)) 
        .Exports(true,true) 
        .ToolbarTop(DApp.DefaultLanguage.GetResource("TiposAtencion"), "mainPanel"); 
} 

<div class="box-body table-responsive no-padding"> 
@(Html.DControls().DataGridSimple<TiposAtencion>(DataGridConfig) 
    .ID("TiposAtencionDataGrid") 
    .DataSource(d => d.Mvc().LoadMethod("POST").Controller("TiposAtencion").LoadAction("Get").Key("Id")) 
    .Columns(columns => 
    { 
        columns.AddFor(m => m.Nombre); 
    }) 
) 
</div> 
