@*  Remplazar FATHERModel por el modelo del padre al que pertenece   *@ 

@model AdministracionHonorariosModel 
@{ 
    string Prefix = "AdministracionHonorariosServicios";
    string UrlOnClick = Url.Action("EditDetail", "AdministracionHonorariosServicios");
    string UrlNew = Url.Action("NewDetail", "AdministracionHonorariosServicios", new { IdFather = Model.Entity.Id });

    var DetailNew = bool.Parse(ViewData["DetailNew"].ToString());
    var DetailModify = bool.Parse(ViewData["DetailModify"].ToString());
    var DetailDelete = bool.Parse(ViewData["DetailDelete"].ToString());

    var DataGridDetailConfig = new DataGridConfiguration<AdministracionHonorariosServicios>(Prefix)
        .OnClick(UrlOnClick, DetailModify, new { Id = "Id" }, Prefix + "MainPanelForm")
        .New(UrlNew,Model.Entity.IsNew || DetailNew, Prefix + "MainPanelForm")
        .Exports(true,true);

} 

@* ------------ Descomentar el siguiente codigo si es una edicion en maestro --------------- *@
 

<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
        @(Html.DControls().DataGridSimple<AdministracionHonorariosServicios>(DataGridDetailConfig)
            .ID("AdministracionHonorariosServiciosDetalleDataGrid")
            .DataSource(d => d.Mvc().LoadMethod("POST").Controller("AdministracionHonorariosServicios").LoadAction("Get").Key("Id"))
            .DataSourceOptions(x=>x.Filter("['AdministracionHonorariosId','=','"+@Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
            .Columns(columns =>
            {
                columns.AddFor(m => m.Servicios.Nombre);
                columns.AddFor(m => m.TipoPagoConvenioEstados.Nombre).Caption(DApp.DefaultLanguage.GetResource("AdministracionHonorariosServicios.TipoPagoConvenioEstadosId"));
                columns.AddFor(m => m.ValorHonorarioConvenio);
                columns.AddFor(m => m.TipoPagoParticularEstados.Nombre).Caption(DApp.DefaultLanguage.GetResource("AdministracionHonorariosServicios.TipoPagoParticularEstadosId"));
                columns.AddFor(m => m.ValorHonorarioParticular);
            })
        ) 
        </div> 
        <div id="AdministracionHonorariosServiciosMainPanelForm"></div> 
    </div> 
</div> 



@* ------------ Descomentar el siguiente codigo si es una edicion en grilla y COMENTAR LOS METODOS OnClick y New del DataGridDetailConfig --------------- *@
@* 
<script> 
     function @(Prefix)OnInitNewRowDetalleDataGrid(model) { 
         model = GetAuditoryData(model); 
         model.data.IdFather = "@Model.Entity.Id"; // Cambiar IdFather por el campo foraneo hacia el padre 
     } 
</script> 
<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
             @(Html.DControls().DataGridSimple<AdministracionHonorariosServicios>(DataGridDetailConfig) 
                 .ID("AdministracionHonorariosServiciosDetalleDataGrid") 
                 .DataSource(d => d.Mvc().LoadMethod("POST").Controller("AdministracionHonorariosServicios").LoadAction("Get").Key("Id") 
                     .InsertAction("AddInGrid").InsertMethod("POST").UpdateAction("ModifyInGrid").UpdateMethod("POST").DeleteAction("DeleteInGrid").DeleteMethod("POST") 
                 ) 
                 .DataSourceOptions(x=>x.Filter("['IdFather','=','"+@Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
                 .Editing(editing => editing.Mode(GridEditMode.Batch).AllowAdding(!Model.Entity.IsNew).AllowUpdating(true).AllowDeleting(true)) 
                 .OnInitNewRow(Prefix + "OnInitNewRowDetalleDataGrid") 
                 .OnRowInserted("OnRowInsertedDetalleDataGrid").OnRowUpdated("OnRowUpdatedDetalleDataGrid").OnRowRemoved("OnRowRemovedDetalleDataGrid").OnDataErrorOccurred("OnDataErrorOccurredDetalleDataGrid") 
                 .Columns(columns => 
                 { 
                     columns.AddFor(m => m.AdministracionHonorariosId) 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("AdministracionHonorariosServicios.AdministracionHonorariosId"))) 
                         .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("AdministracionHonorariosServicios.AdministracionHonorariosId"))) 
                             .Lookup(lookup => lookup 
                             .DataSource(d => d.Mvc().LoadMethod("POST").Controller("AdministracionHonorariosServicios").LoadAction("GetAdministracionHonorariosId").Key("Id")) 
                             .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                             .ValueExpr("Id").DisplayExpr("Id")); 
                     columns.AddFor(m => m.ServiciosId) 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("AdministracionHonorariosServicios.ServiciosId"))) 
                         .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("AdministracionHonorariosServicios.ServiciosId"))) 
                             .Lookup(lookup => lookup 
                             .DataSource(d => d.Mvc().LoadMethod("POST").Controller("AdministracionHonorariosServicios").LoadAction("GetServiciosId").Key("Id")) 
                             .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                             .ValueExpr("Id").DisplayExpr("Id")); 
                     columns.AddFor(m => m.Porcentaje).Format("#,##0.##") 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("AdministracionHonorariosServicios.Porcentaje"))); 
             }) 
         ) 
        </div> 
    </div> 
</div> 
*@ 
