@*  Remplazar FATHERModel por el modelo del padre al que pertenece   *@ 

@model CategoriasIngresosModel 
@{ 
    string Prefix = "CategoriasIngresosDetalles"; 
    string UrlOnClick = Url.Action("EditDetail", "CategoriasIngresosDetalles"); 
    string UrlNew = Url.Action("NewDetail", "CategoriasIngresosDetalles", new { IdFather = Model.Entity.Id }); 

    var DataGridDetailConfig = new DataGridConfiguration<CategoriasIngresosDetalles>(Prefix) 
        .OnClick(UrlOnClick, new { Id = "Id" }, Prefix + "MainPanelForm") 
        .New(UrlNew,Model.Entity.IsNew,Prefix + "MainPanelForm") 
        .Exports(true,true); 
} 



@* ------------ Descomentar el siguiente codigo si es una edicion en maestro --------------- *@


<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
        @(Html.DControls().DataGridSimple<CategoriasIngresosDetalles>(DataGridDetailConfig) 
            .ID("CategoriasIngresosDetallesDetalleDataGrid") 
            .DataSource(d => d.Mvc().LoadMethod("POST").Controller("CategoriasIngresosDetalles").LoadAction("Get").Key("Id")) 
            .DataSourceOptions(x=>x.Filter("['CategoriasIngresosId','=','"+@Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
            .Columns(columns => 
            { 
                 columns.AddFor(m => m.FechaInicial); 
                 columns.AddFor(m => m.FechaFinal); 
                 columns.AddFor(m => m.CuotaModeradora);
                 columns.AddFor(m => m.PorcentajeCopago); 
                 columns.AddFor(m => m.CopagoMaximoEvento); 
                 columns.AddFor(m => m.CopagoMaximoAno);  
            }) 
        ) 
        </div> 
        <div id="CategoriasIngresosDetallesMainPanelForm"></div> 
    </div> 
</div> 
 


@* ------------ Descomentar el siguiente codigo si es una edicion en grilla y COMENTAR LOS METODOS OnClick y New del DataGridDetailConfig --------------- *@
@* 
<script> 
     function @(Prefix)OnInitNewRowDetalleDataGrid(model) { 
         model = GetAuditoryData(model); 
         model.data.IdFather = "@Model.Entity.Id"; // Cambiar IdFather por el campo foraneo hacia el padre 
     } 
</script> 
<div class="card cardDeatil"> 
    <div class="card-body">
        <div class="box-body table-responsive no-padding"> 
             @(Html.DControls().DataGridSimple<CategoriasIngresosDetalles>(DataGridDetailConfig) 
                 .ID("CategoriasIngresosDetallesDetalleDataGrid") 
                 .DataSource(d => d.Mvc().LoadMethod("POST").Controller("CategoriasIngresosDetalles").LoadAction("Get").Key("Id") 
                     .InsertAction("AddInGrid").InsertMethod("POST").UpdateAction("ModifyInGrid").UpdateMethod("POST").DeleteAction("DeleteInGrid").DeleteMethod("POST") 
                 ) 
                 .DataSourceOptions(x=>x.Filter("['IdFather','=','"+@Model.Entity.Id+"']")) // Cambiar IdFather por el campo foraneo hacia el padre
                 .Editing(editing => editing.Mode(GridEditMode.Batch).AllowAdding(!Model.Entity.IsNew).AllowUpdating(true).AllowDeleting(true)) 
                 .OnInitNewRow(Prefix + "OnInitNewRowDetalleDataGrid") 
                 .OnRowInserted("OnRowInsertedDetalleDataGrid").OnRowUpdated("OnRowUpdatedDetalleDataGrid").OnRowRemoved("OnRowRemovedDetalleDataGrid").OnDataErrorOccurred("OnDataErrorOccurredDetalleDataGrid") 
                 .Columns(columns => 
                 { 
                     columns.AddFor(m => m.CategoriasIngresosid) 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("CategoriasIngresosDetalles.CategoriasIngresosid"))) 
                         .ValidationRules(rules => rules.AddRange().Min(1).Message(DApp.GetRequiredResource("CategoriasIngresosDetalles.CategoriasIngresosid"))) 
                             .Lookup(lookup => lookup 
                             .DataSource(d => d.Mvc().LoadMethod("POST").Controller("CategoriasIngresosDetalles").LoadAction("GetCategoriasIngresosid").Key("Id")) 
                             .DataSourceOptions(o => o.Paginate(true).PageSize(10)) 
                             .ValueExpr("Id").DisplayExpr("Id")); 
                     columns.AddFor(m => m.FechaInicial).Format(DApp.DefaultLanguage.DateFormat) 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("CategoriasIngresosDetalles.FechaInicial"))); 
                     columns.AddFor(m => m.FechaFinal).Format(DApp.DefaultLanguage.DateFormat) 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("CategoriasIngresosDetalles.FechaFinal"))); 
                     columns.AddFor(m => m.Copago).Format("#,##0.##") 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("CategoriasIngresosDetalles.Copago"))); 
                     columns.AddFor(m => m.PorcentajeCopago).Format("#,##0.##") 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("CategoriasIngresosDetalles.PorcentajeCopago"))); 
                     columns.AddFor(m => m.CopagoMaximoEvento).Format("#,##0.##") 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("CategoriasIngresosDetalles.CopagoMaximoEvento"))); 
                     columns.AddFor(m => m.CopagoMaximoAno).Format("#,##0.##") 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("CategoriasIngresosDetalles.CopagoMaximoAno"))); 
                     columns.AddFor(m => m.CuotaModeradora).Format("#,##0.##") 
                         .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("CategoriasIngresosDetalles.CuotaModeradora"))); 
             }) 
         ) 
        </div> 
    </div> 
</div> 
*@ 
