@{ 
    string Prefix = "NotasConceptos"; 
    string UrlClick = Url.Action("Edit", "NotasConceptos"); 
    string UrlNew = Url.Action("New", "NotasConceptos"); 

    var DataGridConfig = new DataGridConfiguration<NotasConceptos>(Prefix) 
        .OnClick(UrlClick, new { Id = "Id" }) 
        .New(UrlNew,DApp.ActionViewSecurity(Context,UrlNew)) 
        .Exports(true,true) 
        .ToolbarTop(DApp.DefaultLanguage.GetResource("NotasConceptos"), "mainPanel"); 
} 

<div class="box-body table-responsive no-padding"> 
@(Html.DControls().DataGridSimple<NotasConceptos>(DataGridConfig) 
    .ID("NotasConceptosDataGrid") 
    .DataSource(d => d.Mvc().LoadMethod("POST").Controller("NotasConceptos").LoadAction("Get").Key("Id")) 
    .Columns(columns => 
    { 
        columns.AddFor(m => m.Codigo); 
        columns.AddFor(m => m.Descripcion); 
        columns.AddFor(m => m.Documentos.Prefijo); 
    }) 
) 
</div> 
